.video {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  color: black;
  margin-bottom: 15px;
}

.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 40px;
  color: white;
  display: flex;
}
.videoFooter__text {
  flex: 1;
  > h3 {
    padding-bottom: 0px;
  }
  > p {
    padding-bottom: 0px;
  }
}

.videoFooter__ticker {
  > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
  }
  p {
    padding-top: 7px;
    font-size: 12px;
  }
  svg.MuiSvgIcon-root.videoFooter__icon {
    position: absolute !important;
    bottom: 9px;
    left: -7px;
  }
}
.videoFooter__icon {
  position: absolute;
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
}

.videoSidebar__button {
  padding: 15px;
  text-align: center;
}
